
<div class="jumbotron">
  <h1 class="display-4">Enter a postcode for any location <br> to see if its hot, warm or cold</h1>
  <hr class="my-4">
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
